diagWS/src/main/wsdl/CarService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CarServiceService" targetNamespace="http://carservice.t_systems_mms.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://carservice.t_systems_mms.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://carservice.t_systems_mms.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://carservice.t_systems_mms.com" version="1.0">

  <xs:element name="getCarByPlateNumber" type="tns:getCarByPlateNumber"/>

  <xs:element name="getCarByPlateNumberResponse" type="tns:getCarByPlateNumberResponse"/>

  <xs:complexType name="getCarByPlateNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarByPlateNumberResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:car"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="car">
    <xs:sequence/>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCarByPlateNumber">
    <wsdl:part name="parameters" element="tns:getCarByPlateNumber">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarByPlateNumberResponse">
    <wsdl:part name="parameters" element="tns:getCarByPlateNumberResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CarService">
    <wsdl:operation name="getCarByPlateNumber">
      <wsdl:input name="getCarByPlateNumber" message="tns:getCarByPlateNumber">
    </wsdl:input>
      <wsdl:output name="getCarByPlateNumberResponse" message="tns:getCarByPlateNumberResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CarServiceServiceSoapBinding" type="tns:CarService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCarByPlateNumber">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarByPlateNumber">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarByPlateNumberResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CarServiceService">
    <wsdl:port name="CarServicePort" binding="tns:CarServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/CarServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
