diagWS/src/main/wsdl/DiagService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="DiagServiceService" targetNamespace="http://carservice.t_systems_mms.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://carservice.t_systems_mms.com" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
<xs:schema xmlns:tns="http://carservice.t_systems_mms.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="unqualified" targetNamespace="http://carservice.t_systems_mms.com" version="1.0">

  <xs:element name="getCarData" type="tns:getCarData"/>

  <xs:element name="getCarDataResponse" type="tns:getCarDataResponse"/>

  <xs:element name="saveTelemetrieData" type="tns:saveTelemetrieData"/>

  <xs:element name="saveTelemetrieDataResponse" type="tns:saveTelemetrieDataResponse"/>

  <xs:complexType name="saveTelemetrieData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="tns:telemetryData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="telemetryData">
    <xs:sequence>
      <xs:element minOccurs="0" name="avgSpeed" type="xs:double"/>
      <xs:element minOccurs="0" name="brakeTemperature" type="xs:double"/>
      <xs:element minOccurs="0" name="coolantTemperature" type="xs:double"/>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="distance" type="xs:long"/>
      <xs:element minOccurs="0" name="engineSpeed" type="xs:long"/>
      <xs:element minOccurs="0" name="engineTemperature" type="xs:double"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="errorCodes" nillable="true" type="xs:long"/>
      <xs:element minOccurs="0" name="fanSpeed" type="xs:long"/>
      <xs:element minOccurs="0" name="oilLevel" type="xs:double"/>
      <xs:element minOccurs="0" name="oilPressure" type="xs:double"/>
      <xs:element minOccurs="0" name="oilTemperature" type="xs:double"/>
      <xs:element minOccurs="0" name="position" type="tns:gpsPosition"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="tyrePressure" nillable="true" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="gpsPosition">
    <xs:sequence>
      <xs:element minOccurs="0" name="gkhigh" type="xs:int"/>
      <xs:element minOccurs="0" name="gkright" type="xs:int"/>
      <xs:element minOccurs="0" name="hight" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="saveTelemetrieDataResponse">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="getCarData">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="getCarDataResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:carData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="carData">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:string"/>
      <xs:element minOccurs="0" name="lastService" type="tns:inspection"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="telemetryData" nillable="true" type="tns:telemetryData"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="inspection">
    <xs:sequence>
      <xs:element minOccurs="0" name="date" type="xs:dateTime"/>
      <xs:element minOccurs="0" name="km" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
  </wsdl:types>
  <wsdl:message name="getCarDataResponse">
    <wsdl:part name="parameters" element="tns:getCarDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveTelemetrieDataResponse">
    <wsdl:part name="parameters" element="tns:saveTelemetrieDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCarData">
    <wsdl:part name="parameters" element="tns:getCarData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveTelemetrieData">
    <wsdl:part name="parameters" element="tns:saveTelemetrieData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="DiagService">
    <wsdl:operation name="saveTelemetrieData">
      <wsdl:input name="saveTelemetrieData" message="tns:saveTelemetrieData">
    </wsdl:input>
      <wsdl:output name="saveTelemetrieDataResponse" message="tns:saveTelemetrieDataResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarData">
      <wsdl:input name="getCarData" message="tns:getCarData">
    </wsdl:input>
      <wsdl:output name="getCarDataResponse" message="tns:getCarDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DiagServiceServiceSoapBinding" type="tns:DiagService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="saveTelemetrieData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="saveTelemetrieData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="saveTelemetrieDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCarData">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getCarData">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getCarDataResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DiagServiceService">
    <wsdl:port name="DiagServicePort" binding="tns:DiagServiceServiceSoapBinding">
      <soap:address location="http://localhost:9090/DiagServicePort"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
